/**FORMULAIRE DE CONTACT**/

.form {
    max-width: 650px;
    margin: 3rem auto;
    padding: 3rem;
    text-align: center;
}

.form__title {
    text-align: left;
}

.form__fields {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}

.form__fields li {
    margin-bottom: 15px;
}

.form__fields label {
    display: block;
    color: var(--text-color-secondary);
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    text-align: left;
}

.form__fields input,
textarea {
    background-color: var(--input-bg-color);
    font-family: 'Hind Madurai', sans-serif;
    border-radius: 0.3rem;
    width: 100%;
    padding: 0.5rem;
}

.form__fields textarea {
    height: 200px;
}

.form button {
    margin: 0 auto;
    padding: 1.2rem 1.5rem;
}