/**HOMEPAGE**/

/**CITATION**/

.quote {
    text-align: center;
}

.quote__text {
    color: var(--text-color-primary);
    font-family: 'Waterfall', cursive;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.quote__author {
    color: var(--text-color-primary);
    font-family: 'Hind Madurai', sans-serif;
    font-size: 0.9rem;
    font-style: normal;
}

hr {
    width: 12.5rem;
    margin: 2rem auto;
    border: none;
    height: 0.6px; /* épaisseur de la ligne */
    background-color: var(--accent-color);
}

/**CARTES ARTICLES**/

.main__section {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.main__title {
    font-size: 1.2rem;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}

.cards__item {
    background-color: var(--card-color);
    min-height: 440px;
    max-width: 400px;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease; /*transition pour l'effet au survol */
}

.cards__item:hover {
    box-shadow: 0px 3px 20px 0px rgba(136, 99, 72, 1);
}

.cards__img {
    border-radius: 0.3rem;
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: center;
}

.cards__img--first {
    background-image: url(images/histoire-chocolat.png);
}

.cards__img--second {
    background-image: url(images/art-chocolat.png);
}

.cards__img--third {
    background-image: url(images/exposition-chocolat.png);
}

.cards__text {
    padding: 1rem 1.5rem;
    height: 140px;
}

/**PAGES DES ARTICLES**/

.article__header {
    background-size: cover;
    background-position: center;
    height: 380px;
}

.article__title {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.article__content {
    padding: 2rem 4rem;
}


/**DESKTOP**/

@media screen and (min-width : 1024px) {

    .quote__author {
        font-size: 1rem;
    }

    .main__section {
        text-align: left;
    }

    .cards {
        flex-direction: row;
        gap: 2.2rem;
        margin: 2rem 0;
        justify-content: space-between;
        align-items: stretch;
    }

    .cards__item {
        flex: 1;

    }

    .cards__text p {
        font-size: 0.9rem;
    }

}