:root {
    --main-bg-color: #150B03;
    --card-color: #000000;
    --text-color-primary: #ffffff;
    --text-color-secondary: #B28E74;
    --accent-color: #886348;
    --input-bg-color : #D9CABE;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    font-family: 'Hind Madurai', sans-serif;
}

/*mobile-first*/

/**REUTILISABLES**/

h2 {
    color: var(--text-color-primary);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    color: var(--text-color-primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    color: var(--text-color-secondary);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.3rem;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
}

.button {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.button__link:hover {
    cursor: pointer;
    background-color: var(--accent-color);
    border: 1px solid var(--main-bg-color);
}

.button__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--text-color-primary);
    padding: 1px 6px;
    width: 7rem;
    height: 2rem;
    border: 1px solid var(--accent-color);
    border-radius: 0.2rem;
    transition: all 0.25s ease; /*transition pour l'effet de survol */
}

.hidden {
    display: none;
}

/*cadre pour les cartes et le formulaire*/
.cards__border {
    border-radius: 0.3rem;
    border: 0.5px solid var(--accent-color);
    box-shadow: 0px 3px 20px 0px rgba(136, 99, 72, 0.6);
}


/**HEADER**/

.main__header {
    background-color: var(--main-bg-color);
    padding: 0 3rem;
    /*border-bottom: 1px solid var(--accent-color); à rajouter au scroll avec JS*/

    /*sticky header*/
    position: sticky;
    top: 0;
    left: 0;
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo {
    width: 180px;
    height: auto;
}

/** MENU **/

.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    flex-direction: column;
}

.nav__item {
    color: var(--text-color-primary);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

/*menu principal*/

.nav-primary .nav__list {
    display: none;
}

.nav-primary__item {
    font-size: 0.9rem;
}

/*menu secondaire (footer)*/

.nav-secondary__item {
    font-size: 0.75rem;
}

/*animation au survol du menu*/

.nav__item--animation::after {
    content: '';
    display: block;
    margin-top: 2px;
    height: 1.6px; /* épaisseur de la ligne */
    width: 0; /* Largeur initiale (invisible) */
    background-color: var(--accent-color);
    transition: width 0.3s ease; /* Transition pour l'effet d'étirement */
}

.nav__item--animation:hover::after {
    width: 100%; /* Étend la ligne à 100% de la largeur de l'élément parent au survol */
}

/*item déroulant avec chevron*/
.nav__item--drop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav__item--drop:hover {
    cursor: pointer;
}

/*menu burger*/
.header__nav-button {
    width: 3rem;
    height: 3rem;
}

footer {
    background-color: var(--card-color);
    color: var(--text-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid var(--accent-color);
    padding-top: 1rem;
}


/**DESKTOP**/

@media screen and (min-width : 1024px) {

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }

    .button {
        width: 8rem;
        height: 2.5rem;
    }

    .main__header {
        display: grid;
        grid-template-columns: 1fr auto 1fr; /* Trois colonnes égales */
        align-items: center; /* Centre verticalement par rapport à la page */
        padding : 0 5rem;
    }

    .header__container {
        grid-column: 2; 
        justify-self: center; /* Centre horizontalement par rapport à la colonne */
    }

    .header__logo {
        width: 240px;
        height: auto;
    }

    /*menu principal*/

    .nav__container {
        grid-column: 3;
        text-align: right;
    }

    .nav-primary .nav__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        padding: 0;
        flex-direction: row;
        font-size: 0.9rem;
    }

    .nav-primary__item {
        font-size: 1rem;
    }

    /*menu secondaire (footer)*/

    .nav-secondary__item {
        font-size: 0.85rem;
    }

    .nav-secondary .nav__list {
        flex-direction: row;
    }

    /* menu burger*/

    .header__nav-button {
        display: none;
    }

    /*sous-menu --> à faire avec JS :

    .nav-primary__submenu {
        display: none;
    }

    .nav__item--drop:hover + .nav-primary__submenu { 
        display: block;
        background-color: var(--main-bg-color);
        color: var(--text-color-primary);
        list-style-type: none;
        text-align: left;
        position: absolute; <- OK
    }
    */
}